@charset "UTF-8"
/* html style */
html       {font-size: 100%;
	    background-color: black;
	    color: white;}
/* link styles */
a:link, a:visited { color: #FF0000;}
a:focus, a:hover, a:active { color: #0000FF; }
header     {text-align: center;}
li	   {float: center;
	    display: inline;
	    color: white;
	    text-align: center;
	    padding: 14px 16px;
	    border: solid white;}
h1         {border-bottom: 1px solid white;
            text-align: center;
            font-size: 150%;}
p          {text-indent: 30px;}
img        {display: block;
            margin-left: auto;
	    margin-right: auto;}
#note      {text-align: center;
	    font-size: 50%;
	    color: gray;}
