<style type="text/css">
	html       {font-size: 100%;
		    background-color: black;
		    color: white;}
	header     {text-align: center;}
	li	   {float: center;
		    display: inline;
		    color: white;
		    text-align: center;
		    padding: 14px 16px;
		    border: solid white;}
	h1         {border-bottom: 1px solid white;
	            text-align: center;
	            font-size: 150%;}
	p          {text-indent: 30px;}
	#Ithalia   {float: right;
	            margin: 0 12px;}
</style>
