@charset "UTF-8"
/* Styles that are to be applied to every page */

header {border-bottom: 1px solid white;
        text-align: center;
        font-size: 150%;}

/* link styles */
a:link {color: #FFFFFF; } /* An unvisited link appears White */
a:visited {color: #FFFFFF;} /* A visted link appears White */
a:hover {color: #FF0000;} /* Hovering over the link changes text to Red */
header {text-align: center;}

p {text-indent: 30px;}
dl {text-indent: 60px;}
img {display: block;
    margin-left: auto;
    margin-right: auto;}
div.desc {font-size: 100%;}
/* List Item styles */
ul {text-align: center;}
li {float: center;
    display: inline; /* Makes the List Items display inline instead of stacking */
    color: white;
    text-align: center;
    padding: 14px 16px;
    border: solid #FF0000;}
